# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Editors
.vscode/
.idea/
.vs/
*.code-workspace

# Build artifacts
build/
dist/
*.egg-info/
